body
{
    background-color: grey;
    position: relative;
    text-align: center;
    
}

#clock
{
    border: 2px solid red;
    display: inline-block;
    width: 400px;
    height: 200px;
    background-color: yellow;


}

#time {
    font-size: 30px;
    text-align: center;
  
    margin: 20%;
    position: relative;
}
